/* Custom CSS from 2016.annarbor.wordcamp.org */
/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
/* line 14, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p, li, td, blockquote, div {
  color: #302823;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/* line 19, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #bf4d28;
}

/* line 23, ../sass/style.scss */
a {
  color: #bf4d28;
  transition: all .5s ease;
}

/* line 28, ../sass/style.scss */
.btn {
  display: inline-block;
  padding: 5px 25px;
  border-radius: 2px;
  background: none;
  border: 1px solid #2978b1;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
}

/* line 42, ../sass/style.scss */
.btn:hover {
  background: #777;
  color: #fff;
}

/* line 47, ../sass/style.scss */
a:visited {
  color: #205d89;
}

/* line 51, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  margin: 35px 0 5px;
}

/* line 55, ../sass/style.scss */
p, li {
  margin: 15px 0;
  color: #444;
}

/* line 60, ../sass/style.scss */
h1 {
  font-size: 42px;
}

/*
h1.entry-title {
	background: url('/2016/files/2016/02/hr-new.jpg') bottom center no-repeat;
	padding-bottom: 35px;
	margin-bottom: 40px;
}
*/
/* line 72, ../sass/style.scss */
h2 {
  font-size: 32px;
}

/* line 76, ../sass/style.scss */
h3 {
  font-size: 24px;
}

/* line 80, ../sass/style.scss */
h4 {
  font-size: 18px;
}

/* line 84, ../sass/style.scss */
h5 {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 89, ../sass/style.scss */
p, li, td {
  font-size: 20px;
  line-height: 1.65em;
}

/* line 94, ../sass/style.scss */
hr {
  border: 0;
  border-bottom: 1px solid #efefef;
  display: block;
  margin: 60px 0;
}

/* line 101, ../sass/style.scss */
.home #masthead {
  height: 75vh;
}

/* line 105, ../sass/style.scss */
#masthead {
  background: url("https://2019.annarbor.wordcamp.org/files/2019/01/hero-banner.jpg");
  background-size: cover;
  min-height: 440px;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
}
/* line 112, ../sass/style.scss */
#masthead h1 {
  position: relative;
  z-index: 5;
}
/* line 116, ../sass/style.scss */
#masthead::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 188, 163, 0.5);
}
/* line 126, ../sass/style.scss */
#masthead::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
  /* line 105, ../sass/style.scss */
  #masthead {
    padding-top: 0;
    height: 45vh !important;
    min-height: 331px;
  }
  /* line 142, ../sass/style.scss */
  #masthead .main-small-navigation {
    bottom: auto;
    position: relative;
    z-index: 99;
  }
}

/* line 153, ../sass/style.scss */
#masthead > hgroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
  /* line 153, ../sass/style.scss */
  #masthead > hgroup {
    width: 95%;
  }
}

/* line 165, ../sass/style.scss */
h1.site-title {
  background: url("https://2019.annarbor.wordcamp.org/files/2019/01/wca2-placeholder-logo.png") no-repeat;
  width: 450px;
  background-size: contain;
  height: 239px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin: 0 auto 20px;
  z-index: 5;
  position: relative;
}
@media screen and (max-width: 600px) {
  /* line 165, ../sass/style.scss */
  h1.site-title {
    background-size: contain;
    height: 150px;
  }
}

/* line 186, ../sass/style.scss */
.site-description {
  color: #fff;
  font-style: normal;
  text-align: center;
  font-size: 28px;
  margin: 0;
  max-width: 500px;
  line-height: 1.1em;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 600px) {
  /* line 186, ../sass/style.scss */
  .site-description {
    font-size: 22px;
  }
}

/* line 202, ../sass/style.scss */
body.home .edit-link {
  display: none;
}

/* line 206, ../sass/style.scss */
.main-navigation {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

/* line 216, ../sass/style.scss */
.main-navigation ul {
  display: block;
  text-align: center;
  margin: 0;
}

/* line 222, ../sass/style.scss */
.main-navigation ul li {
  display: inline-block;
  float: none;
  margin: 0 10px;
}

/* line 228, ../sass/style.scss */
.main-navigation ul li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 10px;
}

/* line 237, ../sass/style.scss */
#menu-item-1234 a {
  background: #80bca3;
  transition: all ease-in-out 250ms;
  color: #fff;
}

/* line 243, ../sass/style.scss */
.main-navigation ul li a:hover {
  background: #80bca3;
}

/* line 247, ../sass/style.scss */
.main-navigation .sub-menu {
  background: #80bca3;
  margin-top: 0;
  top: 53px;
  padding: 0;
}

/* line 254, ../sass/style.scss */
.main-navigation .sub-menu li {
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 259, ../sass/style.scss */
.main-navigation .sub-menu li a {
  text-align: left;
  text-transform: none;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 0;
  font-weight: normal;
}

/* line 268, ../sass/style.scss */
.main-navigation .sub-menu li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* line 272, ../sass/style.scss */
#content {
  max-width: 720px;
  margin: -20px auto;
  padding: 20px 1em;
  position: relative;
  z-index: 6;
  background: rgba(255, 255, 255, 0.9);
}

/* line 281, ../sass/style.scss */
img.alignnone,
img.aligncenter {
  border-radius: 6px;
  display: block;
  margin-bottom: 30px;
}

/* HOMEPAGE */
/* line 289, ../sass/style.scss */
body.home #content {
  width: 100%;
  padding: 0;
  max-width: 100%;
  margin: auto;
}

/* line 296, ../sass/style.scss */
body.home h1.entry-title {
  display: none;
}

/* line 300, ../sass/style.scss */
body.home .entry-content {
  margin-top: 0;
}

/* line 304, ../sass/style.scss */
h1.entry-title {
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  font-variant: small-caps;
}

/* line 311, ../sass/style.scss */
.wca-home-introduction {
  padding-top: 75px !important;
}

/* line 315, ../sass/style.scss */
.wca-home-section {
  padding: 100px 0;
  text-align: center;
}

/* line 320, ../sass/style.scss */
.wca-home-section h2 {
  font-variant: small-caps;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 42px;
}

/*
.wca-home-section h2 span {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #999;
	letter-spacing: 2px;
	background: url('/files/2016/02/hr-new.jpg') center top no-repeat;
	padding-top: 35px;
	margin-top: 10px;
}
*/
/* line 340, ../sass/style.scss */
.wca-homepage-tiles {
  min-height: 200px;
  height: 40vh;
  background: url("https://2017.annarbor.wordcamp.org/files/2017/04/tile-bg-1.jpg") center center;
  background-size: cover;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
/* line 353, ../sass/style.scss */
.wca-homepage-tiles .container {
  height: 100%;
  overflow: hidden;
}
/* line 356, ../sass/style.scss */
.wca-homepage-tiles .container .row {
  height: 100%;
}
/* line 359, ../sass/style.scss */
.wca-homepage-tiles .container .row ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
/* line 364, ../sass/style.scss */
.wca-homepage-tiles .container .row ul li {
  float: none;
  width: 25%;
}
@media screen and (max-width: 600px) {
  /* line 340, ../sass/style.scss */
  .wca-homepage-tiles {
    height: auto;
  }
  /* line 375, ../sass/style.scss */
  .wca-homepage-tiles .container .row ul li {
    width: 50%;
  }
}

/* line 383, ../sass/style.scss */
.wca-homepage-tiles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 389, ../sass/style.scss */
.wca-homepage-tiles li {
  margin: 0;
  padding: 1em 0;
  height: 100%;
  min-height: 180px;
  transition: all .5s ease;
  position: relative;
}

/* line 398, ../sass/style.scss */
.wca-homepage-tiles li a {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}

/* line 411, ../sass/style.scss */
.wca-homepage-tiles li:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 414, ../sass/style.scss */
.wca-homepage-tiles li:hover a {
  color: #f90;
  font-weight: bold;
}

/* line 424, ../sass/style.scss */
.wca-homepage-tiles li a span {
  display: block;
  width: 119px;
  height: 119px;
  margin: 0 auto 10px;
}

/* line 431, ../sass/style.scss */
.wci-when {
  background: url("https://2017.annarbor.wordcamp.org/files/2016/02/icon-when-where.png");
}

/* line 435, ../sass/style.scss */
.wci-speakers {
  background: url("https://2017.annarbor.wordcamp.org/files/2016/02/icon-speakers.png");
}

/* line 439, ../sass/style.scss */
.wci-sponsors {
  background: url("https://2017.annarbor.wordcamp.org/files/2016/02/icon-sponsors.png");
}

/* line 443, ../sass/style.scss */
.wci-volunteers {
  background: url("https://2017.annarbor.wordcamp.org/files/2016/02/icon-volunteer.png");
}

/* line 447, ../sass/style.scss */
.wci-tickets {
  background: url("https://2017.annarbor.wordcamp.org/files/2016/06/icon-tickets.png");
}

/* line 451, ../sass/style.scss */
#secondary {
  display: none;
}

/* line 455, ../sass/style.scss */
body.single-wcb_sponsor .attachment-post-thumbnail {
  display: block;
  margin: 0 auto 15px;
}

/* line 460, ../sass/style.scss */
.wcb_widget_sponsors {
  max-width: 1170px;
  padding: 15px;
  border-radius: 12px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

/* line 469, ../sass/style.scss */
.wcb_widget_sponsors .widget-title {
  font-size: 32px;
  color: #fff;
  position: absolute;
  font-variant: small-caps;
  margin-top: -100px;
  width: 100%;
  left: 0;
  text-align: center;
}

/* line 480, ../sass/style.scss */
.wcb_widget_sponsors .sponsor-level {
  width: 33%;
  display: inline-block;
  padding: 0 15px;
  vertical-align: top;
}

/* line 487, ../sass/style.scss */
.sponsor-level-title {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 16px;
  color: #777;
  letter-spacing: 2px;
}

/* line 495, ../sass/style.scss */
.sponsor-logo {
  margin: 20px 0;
  padding: 10px 25px;
  display: block;
}

/* line 501, ../sass/style.scss */
.sponsor-logo img {
  max-height: 75px;
  width: auto;
}

/* line 506, ../sass/style.scss */
.wcorg-session {
  margin: 0 0 60px;
  padding: 0 0 60px;
  border-bottom: 1px solid #efefef;
  text-align: center;
}

/* line 513, ../sass/style.scss */
.wcorg-session .wcpt-session-meta {
  margin: 0 0 30px;
  opacity: .75;
  text-align: center;
}

/* line 519, ../sass/style.scss */
.wcorg-session h2 {
  margin: 0 !important;
  text-align: center;
}

/* line 524, ../sass/style.scss */
.wcorg-session p,
.wcorg-session li {
  text-align: left;
}

/* line 529, ../sass/style.scss */
#colophon {
  background: url("https://2019.annarbor.wordcamp.org/files/2019/01/ann-arbor-city-skyline.jpg");
  background-size: cover;
  margin-top: -24px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 0;
}

/* line 538, ../sass/style.scss */
.site-info a {
  text-decoration: none;
  color: #69D2E7;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

/* line 547, ../sass/style.scss */
.site-info {
  padding: 50px 0;
  background: #594f4f;
  margin-top: 50px;
}

/* line 553, ../sass/style.scss */
.wcorg-organizer {
  width: 33%;
  float: left;
  padding: 110px 0 35px;
  text-align: center;
  position: relative;
}

/* line 561, ../sass/style.scss */
.wcorg-organizer h2 {
  font-size: 22px;
  margin-top: 0;
}

/* line 566, ../sass/style.scss */
.wcorg-organizer .wcorg-organizer-description {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  text-align: center;
}

/* line 574, ../sass/style.scss */
.wcorg-organizer img {
  border-radius: 100%;
}

/* line 578, ../sass/style.scss */
.tix_tickets_table th, .tix_tickets_table td {
  padding: 10px;
}

/* line 582, ../sass/style.scss */
.tix_tickets_table {
  background: #f1f1f1;
}

/* line 586, ../sass/style.scss */
.tix_tickets_table th {
  background: #F38630;
  color: #fff;
  text-transform: uppercase;
}

/* line 592, ../sass/style.scss */
*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 600, ../sass/style.scss */
#content::after,
.wcb_widget_sponsors::after,
.container::after,
.row::after {
  display: block;
  height: 0;
  content: '';
  clear: both;
}

/* line 610, ../sass/style.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  /* line 618, ../sass/style.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 624, ../sass/style.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 630, ../sass/style.scss */
  .container {
    width: 1170px;
  }
}
/* line 635, ../sass/style.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 642, ../sass/style.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 647, ../sass/style.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 654, ../sass/style.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 658, ../sass/style.scss */
.col-xs-12 {
  width: 100%;
}

/* line 662, ../sass/style.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 666, ../sass/style.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 670, ../sass/style.scss */
.col-xs-9 {
  width: 75%;
}

/* line 674, ../sass/style.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 678, ../sass/style.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 682, ../sass/style.scss */
.col-xs-6 {
  width: 50%;
}

/* line 686, ../sass/style.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 690, ../sass/style.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 694, ../sass/style.scss */
.col-xs-3 {
  width: 25%;
}

/* line 698, ../sass/style.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 702, ../sass/style.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 706, ../sass/style.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 710, ../sass/style.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 714, ../sass/style.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 718, ../sass/style.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 722, ../sass/style.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 726, ../sass/style.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 730, ../sass/style.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 734, ../sass/style.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 738, ../sass/style.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 742, ../sass/style.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 746, ../sass/style.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 750, ../sass/style.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 754, ../sass/style.scss */
.col-xs-pull-0 {
  right: 0;
}

/* line 758, ../sass/style.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 762, ../sass/style.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 766, ../sass/style.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 770, ../sass/style.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 774, ../sass/style.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 778, ../sass/style.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 782, ../sass/style.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 786, ../sass/style.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 790, ../sass/style.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 794, ../sass/style.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 798, ../sass/style.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 802, ../sass/style.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 806, ../sass/style.scss */
.col-xs-push-0 {
  left: 0;
}

/* line 810, ../sass/style.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 814, ../sass/style.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 818, ../sass/style.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 822, ../sass/style.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 826, ../sass/style.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 830, ../sass/style.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 834, ../sass/style.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 838, ../sass/style.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 842, ../sass/style.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 846, ../sass/style.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 850, ../sass/style.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 854, ../sass/style.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 858, ../sass/style.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 863, ../sass/style.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 867, ../sass/style.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 871, ../sass/style.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 875, ../sass/style.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 879, ../sass/style.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 883, ../sass/style.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 887, ../sass/style.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 891, ../sass/style.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 895, ../sass/style.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 899, ../sass/style.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 903, ../sass/style.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 907, ../sass/style.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 911, ../sass/style.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 915, ../sass/style.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 919, ../sass/style.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 923, ../sass/style.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 927, ../sass/style.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 931, ../sass/style.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 935, ../sass/style.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 939, ../sass/style.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 943, ../sass/style.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 947, ../sass/style.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 951, ../sass/style.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 955, ../sass/style.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 959, ../sass/style.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 963, ../sass/style.scss */
  .col-sm-pull-0 {
    right: 0;
  }

  /* line 967, ../sass/style.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 971, ../sass/style.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 975, ../sass/style.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 979, ../sass/style.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 983, ../sass/style.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 987, ../sass/style.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 991, ../sass/style.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 995, ../sass/style.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 999, ../sass/style.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 1003, ../sass/style.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 1007, ../sass/style.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 1011, ../sass/style.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 1015, ../sass/style.scss */
  .col-sm-push-0 {
    left: 0;
  }

  /* line 1019, ../sass/style.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 1023, ../sass/style.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 1027, ../sass/style.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 1031, ../sass/style.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 1035, ../sass/style.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 1039, ../sass/style.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 1043, ../sass/style.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 1047, ../sass/style.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 1051, ../sass/style.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 1055, ../sass/style.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 1059, ../sass/style.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 1063, ../sass/style.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 1067, ../sass/style.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 1073, ../sass/style.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 1077, ../sass/style.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 1081, ../sass/style.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 1085, ../sass/style.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 1089, ../sass/style.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 1093, ../sass/style.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 1097, ../sass/style.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 1101, ../sass/style.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 1105, ../sass/style.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 1109, ../sass/style.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 1113, ../sass/style.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 1117, ../sass/style.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 1121, ../sass/style.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 1125, ../sass/style.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 1129, ../sass/style.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 1133, ../sass/style.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 1137, ../sass/style.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 1141, ../sass/style.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 1145, ../sass/style.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 1149, ../sass/style.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 1153, ../sass/style.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 1157, ../sass/style.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 1161, ../sass/style.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 1165, ../sass/style.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 1169, ../sass/style.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 1173, ../sass/style.scss */
  .col-md-pull-0 {
    right: 0;
  }

  /* line 1177, ../sass/style.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 1181, ../sass/style.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 1185, ../sass/style.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 1189, ../sass/style.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 1193, ../sass/style.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 1197, ../sass/style.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 1201, ../sass/style.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 1205, ../sass/style.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 1209, ../sass/style.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 1213, ../sass/style.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 1217, ../sass/style.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 1221, ../sass/style.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 1225, ../sass/style.scss */
  .col-md-push-0 {
    left: 0;
  }

  /* line 1229, ../sass/style.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 1233, ../sass/style.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 1237, ../sass/style.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 1241, ../sass/style.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 1245, ../sass/style.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 1249, ../sass/style.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 1253, ../sass/style.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 1257, ../sass/style.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 1261, ../sass/style.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 1265, ../sass/style.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 1269, ../sass/style.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 1273, ../sass/style.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 1277, ../sass/style.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  /* line 1283, ../sass/style.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 1287, ../sass/style.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 1291, ../sass/style.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 1295, ../sass/style.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 1299, ../sass/style.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 1303, ../sass/style.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 1307, ../sass/style.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 1311, ../sass/style.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 1315, ../sass/style.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 1319, ../sass/style.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 1323, ../sass/style.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 1327, ../sass/style.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 1331, ../sass/style.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 1335, ../sass/style.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 1339, ../sass/style.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 1343, ../sass/style.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 1347, ../sass/style.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 1351, ../sass/style.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 1355, ../sass/style.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 1359, ../sass/style.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 1363, ../sass/style.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 1367, ../sass/style.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 1371, ../sass/style.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 1375, ../sass/style.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 1379, ../sass/style.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 1383, ../sass/style.scss */
  .col-lg-pull-0 {
    right: 0;
  }

  /* line 1387, ../sass/style.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 1391, ../sass/style.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 1395, ../sass/style.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 1399, ../sass/style.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 1403, ../sass/style.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 1407, ../sass/style.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 1411, ../sass/style.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 1415, ../sass/style.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 1419, ../sass/style.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 1423, ../sass/style.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 1427, ../sass/style.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 1431, ../sass/style.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 1435, ../sass/style.scss */
  .col-lg-push-0 {
    left: 0;
  }

  /* line 1439, ../sass/style.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 1443, ../sass/style.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 1447, ../sass/style.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 1451, ../sass/style.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 1455, ../sass/style.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 1459, ../sass/style.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 1463, ../sass/style.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 1467, ../sass/style.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 1471, ../sass/style.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 1475, ../sass/style.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 1479, ../sass/style.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 1483, ../sass/style.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 1487, ../sass/style.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/* line 1492, ../sass/style.scss */
.wcpt-schedule th {
  font-weight: bold;
  color: #fff;
  background: #222f31;
  text-align: center;
}

/* line 1499, ../sass/style.scss */
.wcpt-schedule td a.wcpt-session-title {
  font-weight: bold;
  display: block;
  margin: 0 0 8px;
  font-size: 20px;
}

/* line 1506, ../sass/style.scss */
.wcpt-session-speakers a {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  border-bottom: 1px dotted #ddd;
}

/* line 1513, ../sass/style.scss */
.wcb-session-lunch,
.wcb-session-lunch-2,
.wcb-session-registration,
.wcb-session-registration-2,
.wcb-session-opening-remarks,
.wcb-session-closing-remarks,
.wcb-session-snacks-and-happiness,
.wcb-session-after-party {
  text-align: center;
  background: #f3f3f3;
  font-weight: bold;
}

/* line 1526, ../sass/style.scss */
.wcpt-time {
  background: #f6f6f6;
}

/* line 1530, ../sass/style.scss */
.schedule-color td {
  text-align: center;
  font-weight: bold;
}

/* line 1535, ../sass/style.scss */
.uzr,
td.wcb-track-user {
  background: #eaffcf;
}

/* line 1540, ../sass/style.scss */
.dev,
td.wcb-track-developer {
  background: #ffe9e9;
}

/* line 1545, ../sass/style.scss */
.biz,
td.wcb-track-business {
  background: #e9fbff;
}

/* line 1550, ../sass/style.scss */
.des,
td.wcb-track-designer {
  background: #FFDAB8;
}

/* line 1555, ../sass/style.scss */
.wcpt-schedule td {
  padding: 10px;
}

/* line 1559, ../sass/style.scss */
.avatar {
  border-radius: 100%;
}

/* line 1563, ../sass/style.scss */
.tix-attendee-name,
.tix-attendee-url {
  line-height: 1.25em;
}

/* line 1568, ../sass/style.scss */
#tix-attendees .tix-field {
  margin-left: 65px;
}

@media screen and (max-width: 800px) {
  /* line 1573, ../sass/style.scss */
  .wcb_widget_sponsors .sponsor-level {
    width: 100%;
    display: block;
    float: none;
  }

  /* line 1579, ../sass/style.scss */
  .main-small-navigation {
    background: #16a2b6;
    padding: 10px 10px 5px;
    text-align: center;
    position: relative;
    bottom: -17px;
  }

  /* line 1587, ../sass/style.scss */
  .main-small-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* line 1593, ../sass/style.scss */
  .main-small-navigation li {
    margin: 0;
    padding: 0;
  }

  /* line 1598, ../sass/style.scss */
  .main-small-navigation #menu-main > li {
    margin: 0 -10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  /* line 1603, ../sass/style.scss */
  .main-small-navigation a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
  }

  /* line 1610, ../sass/style.scss */
  .main-small-navigation #menu-main li li a {
    font-weight: normal;
  }

  /* line 1614, ../sass/style.scss */
  .menu-toggle {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0;
  }
}
/* line 1624, ../sass/style.scss */
tr.wcpt-time-950am td.wcpt-time:after,
tr.wcpt-time-1105am td.wcpt-time:after,
tr.wcpt-time-130pm td.wcpt-time:after,
tr.wcpt-time-245pm td.wcpt-time:after {
  content: 'Lightning Talk';
  display: block;
  font-size: 11px;
  text-align: center;
  font-style: italic;
  background: transparent url("https://2016.annarbor.wordcamp.org/files/2016/09/bolt.png") no-repeat;
  background-position: center bottom;
  background-size: 40px;
  height: 70px;
}

@media screen and (max-width: 700px) {
  /* line 1640, ../sass/style.scss */
  tr.wcpt-time-950am td.wcpt-time:after,
  tr.wcpt-time-1050am td.wcpt-time:after, tr.wcpt-time-1110am td.wcpt-time:after, tr.wcpt-time-1120am td.wcpt-time:after,
  tr.wcpt-time-100pm td.wcpt-time:after,
  tr.wcpt-time-200pm td.wcpt-time:after, tr.wcpt-time-300pm td.wcpt-time:after, tr.wcpt-time-400pm td.wcpt-time:after {
    display: inline-block;
    background: transparent url("https://2016.annarbor.wordcamp.org/files/2016/09/bolt.png") no-repeat;
    background-position: left bottom;
    background-size: 40px;
    margin-left: 5px;
    height: 40px;
    padding-left: 35px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1655, ../sass/style.scss */
  .alignleft, .alignright, .aligncenter {
    text-align: center;
    margin: 0 auto 2em;
    padding: 0;
    float: none;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
  /* line 1664, ../sass/style.scss */
  .alignleft img, .alignright img, .aligncenter img {
    margin: 0;
    width: 100%;
    height: auto;
  }
}
/* line 1673, ../sass/style.scss */
tr.wcpt-time-950am td.wcpt-time:after,
tr.wcpt-time-1050am td.wcpt-time:after,
tr.wcpt-time-1110am td.wcpt-time:after,
tr.wcpt-time-100pm td.wcpt-time:after,
tr.wcpt-time-140pm td.wcpt-time:after,
tr.wcpt-time-240pm td.wcpt-time:after,
tr.wcpt-time-340pm td.wcpt-time:after,
tr.wcpt-time-440pm td.wcpt-time:after {
  content: 'Lightning Talk';
  display: block;
  font-size: 11px;
  text-align: center;
  font-style: italic;
  background: transparent url("https://2016.annarbor.wordcamp.org/files/2016/09/bolt.png") no-repeat;
  background-position: center bottom;
  background-size: 40px;
  height: 70px;
}

@media screen and (max-width: 700px) {
  /* line 1693, ../sass/style.scss */
  tr.wcpt-time-950am td.wcpt-time:after,
  tr.wcpt-time-1050am td.wcpt-time:after,
  tr.wcpt-time-1110am td.wcpt-time:after,
  tr.wcpt-time-100pm td.wcpt-time:after,
  tr.wcpt-time-140pm td.wcpt-time:after,
  tr.wcpt-time-240pm td.wcpt-time:after,
  tr.wcpt-time-340pm td.wcpt-time:after,
  tr.wcpt-time-440pm td.wcpt-time:after {
    display: inline-block;
    background: transparent url("https://2016.annarbor.wordcamp.org/files/2016/09/bolt.png") no-repeat;
    background-position: left bottom;
    background-size: 40px;
    margin-left: 5px;
    height: 40px;
    padding-left: 35px;
  }
}
/* line 1711, ../sass/style.scss */
.page-slug-schedule #content {
  max-width: 1280px;
}
/* line 1714, ../sass/style.scss */
.page-slug-schedule #content h2 {
  float: left;
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  /* line 1714, ../sass/style.scss */
  .page-slug-schedule #content h2 {
    max-width: 100%;
    float: none;
  }
}
/* line 1724, ../sass/style.scss */
.page-slug-schedule #content .wcpt-schedule {
  margin-top: 30px;
  clear: both;
}

/* line 1731, ../sass/style.scss */
.wcpt-schedule thead th {
  padding: 1em 0;
  background: #444;
}

/* line 1736, ../sass/style.scss */
.wcpt-schedule tbody td {
  font-size: 14px;
  border-bottom: 3px solid #fff;
}

/* line 1741, ../sass/style.scss */
.wcpt-schedule td a.wcpt-session-title {
  font-size: 16px;
}

/* line 1745, ../sass/style.scss */
.wcpt-schedule td.wcpt-time {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/* line 1751, ../sass/style.scss */
th.wcpt-col-track {
  width: 30%;
}

/* line 1755, ../sass/style.scss */
.schedule-color {
  max-width: 30%;
  float: right;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  /* line 1755, ../sass/style.scss */
  .schedule-color {
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1755, ../sass/style.scss */
  .schedule-color {
    max-width: 100%;
    float: none;
  }
}
/* line 1769, ../sass/style.scss */
.schedule-color td {
  font-weight: normal;
  font-size: 16px;
  padding: 7px 10px;
}
